*,*::after ,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --black : #000;
    --golden-orange : #F9A602;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
h1,h2,a{
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}
li{
    list-style-type: none;
}
header{
    display: flex;
    padding: 2rem 4rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    z-index: 10;
    height: 8rem;
}
.img-logo{
    display: flex;
    align-items: center;
    gap:1.4rem
}
.personal-img{
 border-radius: 50%;
 width: 5.5rem;
 height: 5.7rem;
 overflow: hidden;
}
.personal-img img{
    max-width: 100%;
    object-position: center;
    object-fit: contain;
}
.img-logo h2{
    font-size: clamp(1rem, -0.1639rem + 2.6604vw, 3.125rem);
    font-weight: 900;
    letter-spacing: .13rem;
    color: var(--black);
    cursor: pointer;
    transition: color .3s ease-in-out;
}
.img-logo h2:hover{
    color: var(--golden-orange);
}
header section .ul-list{
    display: flex;
    gap:clamp(0.3125rem, -0.0641rem + 0.8607vw, 1rem);;
    font-size: clamp(0.8125rem, 0.2305rem + 1.3302vw, 1.875rem);
}
header section{
    display: flex;
    align-items: center;
}
header section i{
    margin-left:clamp(0.3125rem, -0.201rem + 1.1737vw, 1.4rem);
    font-size: clamp(1.0125rem, -0.1118rem + 2.1127vw, 2.3rem);
    cursor: pointer;
}
i.dark-mood{
        transition: color .3s ease-in;
}
i.dark-mood:hover{
    color:var(--golden-orange);
}
#hidden-bar{
    color: var(--black);
    display: none;
}
.ul-list li a{
    color: var(--black);
    font-weight: 700;
    letter-spacing: .12rem;
    transition: color .2s ease-in-out;
}
.ul-list li a:hover{
    color: var(--golden-orange);
}
.drop-down{
    display: none;
}

/* Media Query for Header */
@media (max-width: 780px) {
    .nav-list{
        display: none;
    }
    #hidden-bar{
        display: block;
    }
    .drop-down{
        display: flex;
        flex-direction: row;
        width:30rem;
        height: 0;
        position: fixed;
        right: 4rem;
        top: 8rem;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(5px);
        background-color: rgba(172, 153, 153, 0.1);
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-bottom: 0px;
        transition: height .9s cubic-bezier(0.215, 0.610, 0.355, 1)
    }
    .drop-down.open{
        height: 15rem;
        padding: 2rem 4rem;
    }
    .open{
        display: flex;
    }
    .ul-list li{
        padding: .7rem;
        text-align: center;
    }
  }
  @media (max-width: 500px) {
    .drop-down{
        width:80vw;
    }
  }

